* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --blark: rgb(18, 109, 145);
    --offwhite: rgb(252, 243, 229);
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

main {
    flex: 3;
}

ul {
    position: absolute;
    right: 0px;
    top: 25px;
    margin-right:10px;

}

img {
    width: 120px;
    height: 120px;
    border: 5px solid rgb(14, 82, 109);
    position: relative;
    left: 350px
}

h1 {
    color: var(--blark);
    background-color: var(--offwhite);
    width: 320px;
    border-left: 160px solid var(--offwhite);
    border-bottom: 2px solid var(--offwhite);
    text-shadow: .5px .5px 2px var(--blark) ;
}

p {
    color: rgb(238, 238, 238);
    justify-content: flex-end;
    width: 1200px;
    position: absolute;
    left:510px;
    top: 315px;
    background-color: var(--blark);
    padding: 1%;
    border-radius: 25px
}

.navs {
    font-size: 30px;
    color: var(--offwhite);
}

.navs:link {
    color: var(--offwhite);
    text-decoration: none;
}

.navs:hover {
    color: rgb(235, 200, 104);
}

.nav-bar {
    display: inline;
    margin: 0px 7px 0px 7px;
}

.sections {
    flex: 10;
    flex-wrap: wrap;
    width: 100px;
    color: var(--blark);
    padding: 2%;
    border-right: 5px solid var(--blark);
    margin-left: 300px;
    font-size: 35px;
    text-shadow: .5px .5px 2px var(--blark);
}

.webname {
    position: relative;
    color: var(--offwhite);
    font-size: 30px ;
    background-color: var(--blark);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    bottom: 30px;
    padding: 5px 0px 5px 8px;
    text-shadow: .5px .5px 2px var(--blark)
}

.webname:hover {
    color: rgb(235, 200, 104);
}

.boxes {
    display: flex;
    position: relative;
    justify-content: end;
    align-items: end;
    border-radius: 25px;
    border: 3px solid var(--blark);
    text-decoration: none;
}

.contax {
    position: relative;
    display: inline;
    justify-content: center;
    left: 650px;
    bottom: 130px;
    margin: 0px 20px;
    padding: 10px;
    font-size: 30px;
    background-color: var(--blark);
    border-radius: 20px;
    color: var(--offwhite);
    box-shadow: 5px 5px 10px grey;
    
}

#firstbox {
    height: 800px;
    width: 1213px;
    background-image:url(./ON-CB801_chip_M_20170405183838.jpg);
    left: 500px;
    bottom: 1450px;
}

#secbox {
    height: 600px;
    width: 600px;
    background-image:url(./photo-1518770660439-4636190af475.jpg);
    left: 500px;
    bottom: 1445px;
}

#thirdbox {
    height: 600px;
    width: 600px;
    background-image:url(./photo.jpeg);
    left: 1110px;
    bottom: 2051px;
}

#top {
    background-color: var(--blark);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 150px;
    z-index: -9
}

#about {
    height:300px
}

#work {
    height: 1350px;
}

#contact {
    position: relative;
    height: 100px;
}

#worksec {
    height:1430px
}

@media screen and (max-width: 768px){
    main {

        flex-direction: column;
    }
    .sections {
        flex: 10 10;
        flex-direction: column;
    }
}